<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>International Economic and trade chain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- 导航 -->
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo.jpg" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="index.html#module1">About</a>
                        </li>
                        <li>
                            <a href="#module2">Product</a>
                        </li>
                        <li>
                            <a href="#module4">Circuit</a>
                        </li>
                        <li>
                            <a href="#module5">Wallet</a>
                        </li>
                        <li>
                            <a href="#module6">Trading</a>
                        </li>
                        <li>
                            <a href="#">Browser</a>
                        </li>
                        <li>
                            <a href="problem/en">Problem</a>
                        </li>
                        <li>
                            <a href="#module7">News</a>
                        </li>
                        <li>
                            <a href="#module8">Contact</a>
                        </li>
                        <li>
                            <a href="#module3">Download</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="edition">
            <div class="suffix">
                <div class="showText">
                    <img src="images/chinese.svg" alt="">
                    <span>English</span>
                </div>
                <div class="suf-list" style="display: none;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/">
                                <img src="images/chinese.svg" alt="">
                                <span>Chinese</span>
                            </a>
                        </li>
                        <li>
                            <a href="/en">
                                <img src="images/chinese.svg" alt="">
                                <span>English</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- banner -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/banner1.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/banner2.jpg" alt="...">
            </div>
            <div class="item">
                <img src="images/banner3.jpg" alt="...">
            </div>
        </div>
    </div>

    <section class="mainContent">
        <!-- module1 -->
        <div class="module1" id="#module1">
            <div class="container">
                <div class="row module1Row">
                    <div class="col-md-6 col-sm-12 module1Left module1Left-En text-left">
                        <video src="http://183.57.85.235/6976F828C4E3A71738B2F49DC/03000A02005A8413CBCF19011BA6A9FEC7531E-A8E3-5AD0-CA20-91A4BDBDC8A8.mp4?ccode=0502&duration=390&expire=18000&psid=c1504b80b907527af8700c0d9bdca608&sp=&ups_client_netip=741edf64&ups_ts=1537862376&ups_userid=&utid=4TVrEWdqwjACAXeJNXbZxn%2Bi&vid=XMzA3ODQ4NDA1Mg&vkey=Bee11f5b1c4b0d27e0e050d534f0bd381&s=efbfbd1f62efbfbdefbf&ali_redirect_domain=vali-dns.cp31.ott.cibntv.net"
                            controls="controls">
                            您的浏览器不支持 video 标签。
                        </video>
                    </div>
                    <div class="col-md-6 col-sm-12 module1Right module1Right-En">
                        <h2>What is CEEC</h2>
                        <p>CEEC（Central Eastern Euroupean -16 Countrious）The International Economic and Trade Ecosystem
                            is a
                            cross-border e-commerce platform launched and operated by the CEEC Foundation worldwide. It
                            is
                            geared to the 16 countries in Central and Eastern Europe for high-quality products, trade
                            commodities
                            and so on. Regulators, service providers, consumers, businesses and users to establish
                            large
                            consumer data for cross-border e-commerce industry to provide trust, incentives, zero
                            Commission
                            ecological services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- module2 -->
        <div class="module2" id="#module2">
            <div class="container">
                <h2>Core characteristics</h2>
                <p class="subTitle">Create, share and blend together,and future super operation mode.</p>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <a href="">
                            <div class="imgCont">
                                <img src="images/img1.jpg" alt="">
                            </div>
                            <p class="imgTitle">Add data storage</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <a href="">
                            <div class="imgCont">
                                <img src="images/img2.jpg" alt="">
                            </div>
                            <p class="imgTitle">Increase transaction speed</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <a href="">
                            <div class="imgCont">
                                <img src="images/img3.jpg" alt="" style="margin-bottom:13px;">
                            </div>
                            <p class="imgTitle">Fast synchronization of node data</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <a href="">
                            <div class="imgCont">
                                <img src="images/img4.jpg" alt="">
                            </div>
                            <p class="imgTitle">High throughput</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="">
                            <div class="imgCont">
                                <img src="images/img5.jpg" alt="">
                            </div>
                            <p class="imgTitle">Multiple security protection</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2  col-xs-12">
                        <a href="">
                            <div class="imgCont">
                                <img src="images/img6.jpg" alt="">
                            </div>
                            <p class="imgTitle">Expansibility</p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                </div>
            </div>
        </div>
        <!-- module3 -->
        <div class="module3" id="#module3">
            <div class="container">
                <h2>“You can also learn about our services by downloading the white paper.”</h2>
                <div class="CEETBtn">
                    <a href="">CEET white paper</a>
                </div>
            </div>
        </div>
        <!-- module4 -->
        <div class="module4" id="#module4">
            <img src="images/map.png" class="bgCont" alt="">
            <div class="container">
                <h2 class="title">Circuit diagram</h2>
                <p class="subTitle">Restructuring the global cross-border electricity supplier industry ecosystem</p>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right rowLeft">
                        <h2>December 2017</h2>
                        <p>CEEC China project experts, consultants, partners and teams are fully established.</p>
                        <p>Finish the final stage design and application of the underlying frame design.</p>
                    </div>
                    <div class="col-md-1 col-sm-1  col-xs-12 arrow1"></div>
                    <div class="col-md-5 col-sm-5  col-xs-12"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 rowLeft">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 arrow2"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-left">
                        <h2>September 2018</h2>
                        <p>Announcing the CEEC China fundraising scheme, releasing white paper to ordinary investors</p>
                        <p>Fund raising officially started</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right rowLeft">
                        <h2>November 2018</h2>
                        <p>Complete the certification economic model design, intelligent contract on-line, and complete
                            the
                            DAPP product design.</p>
                        <p>CEEC mall APP1.0 version, PC end synchronization Online</p>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 arrow3"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 rowLeft">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 arrow2"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-left">
                        <h2>January 2019</h2>
                        <p>CEEC Chain main network to support smart contracts and side chain projects</p>
                        <p>Meanwhile, CEEC mall APP2.0 version, PC synchronization synchronization.</p>
                        <p>Carry out multi-channel promotion and cross border cooperation with multinational
                            governments</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right rowLeft">
                        <h2>June 2019</h2>
                        <p>A regional chain technology research laboratory jointly established with world-class
                            universities</p>
                        <p>Further improve CEEC Chain code</p>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 arrow3"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 rowLeft">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 arrow2"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12 text-left">
                        <h2>August 2019</h2>
                        <p>Complete the APP3.0 version development of CEEC mall.</p>
                        <p>More than 5 million members of the global community are achieved.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 text-right rowLeft">
                        <h2>October 2019</h2>
                        <p>Initiate community autonomy management of international economic and trade (CEEC)</p>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-12 arrow4"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12"></div>
                </div>
            </div>
        </div>
        <!-- module5 -->
        <div class="module5" id="#module5">
            <div class="row rowRelative">
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <img src="images/iphone.png" alt="" class="iphone">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 walletText">
                    <h3>Wallet</h3>
                    <p class="colorWhite">Making digital assets safer</p>
                    <p>Secure and convenient solution for full chain payment of digital currency</p>
                    <p>The world's original wallet is built with one key private placement and financial management.</p>
                    <p>Financial hardware isolation technology account security and enhancement</p>
                    <div class="choiseBtn">
                        <a href="" class="android"></a>
                        <a href="" class="ios active"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- module6 -->
        <div class="module6" id="#module6">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-right rowText">
                    <div class="textCont">
                        <h2>Digital asset trading platform</h2>
                        <p>Fast, private, easy to use encryption digital currency payment solution</p>
                        <p>Party and capital control rights are always in the hands of users, and will not be
                            transferred to
                            the user.</p>
                        <p>Cooperation providers pay service providers</p>
                    </div>
                    <div class="tipsBtn">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6  col-xs-12 logoImgCont">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <img src="images/logoImg1.jpg" alt="">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <img src="images/logoImg2.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <img src="images/logoImg3.jpg" alt="">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <img src="images/logoImg4.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <img src="images/logoImg5.jpg" alt="">
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <img src="images/logoImg6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- module7 -->
        <div class="module7" id="#module7">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 rowRight">
                        <h2 class="title">Industry dynamics</h2>
                        <p class="subTitle">Reshape industrial comprehensive cooperation mechanism and rebuild new
                            industrial structure</p>
                        <ul>
                            <li>
                                <a href="">NewsNewsNewsNewsNewsNewsNewsNewsNewsNewsNewsNews</a>
                            </li>
                            <li>
                                <a href="">NewsNewsNewsNewsNewsNewsNewsNewsNews</a>
                            </li>
                            <li>
                                <a href="">NewsNewsNewsNewsNewsNewsNewsNewsNewsNewsNews</a>
                            </li>
                            <li>
                                <a href="">NewsNewsNewsNewsNewsNewsNewsNewsNewsNewsNewsNews</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="#module8">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-right footerLeft">
                    <p>
                        <img src="images/facebook.png" alt="">
                        <img src="images/m.png" alt="">
                        <img src="images/bird.png" alt="">
                        <img src="images/youtube.png" alt="">
                        <img src="images/micro-blog.png" alt="">
                        <img src="images/bitebi.png" alt="">
                    </p>
                    <p>Copyright 2018 EtherZero ALL Right Reserved</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 footerRight">
                    <div class="contact">
                        <img src="images/img1.jpg" alt="">
                        <p>WeChat group</p>
                    </div>
                    <div class="contact">
                        <img src="images/img1.jpg" alt="">
                        <p>QQ group</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.suffix').hover(function () {
            $('.suf-list').show();
        }, function () {
            $('.suf-list').hide();
        });
    </script>
</body>

</html>
