<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>常见问题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- 导航 -->
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.jpg" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">关于我们</a>
                        </li>
                        <li>
                            <a href="/#module2">产品特色</a>
                        </li>
                        <li>
                            <a href="/#module4">线路图</a>
                        </li>
                        <li>
                            <a href="/#module5">钱包</a>
                        </li>
                        <li>
                            <a href="/#module6">交易平台</a>
                        </li>
                        <li>
                            <a href="#">区域浏览器</a>
                        </li>
                        <li class="active">
                            <a href="/problem">常见问题</a>
                        </li>
                        <li>
                            <a href="/#module7">新闻资讯</a>
                        </li>
                        <li>
                            <a href="/#module8">联系我们</a>
                        </li>
                        <li>
                            <a href="/#module3">白皮书下载</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="edition">
            <ins class="suffix">
                <div class="showText ">
                    <img src="/images/chinese.svg" alt="">
                    <span>中文</span>
                </div>
                <div class="suf-list" style="display: none;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="problem">
                                <img src="/images/chinese.svg" alt="">
                                <span>中文</span>
                            </a>
                        </li>
                        <li>
                            <a href="problem/en">
                                <img src="/images/English.svg" style="height:20px" alt="">
                                <span>English</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </ins>
        </div>
    </div>

    <!-- banner -->
    <div class="banner">
        <span>常见问题</span>
    </div>

    <section class="mainContent">
        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">其他项目</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">常见问题</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">资源下载</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane " id="home">
                    <div class="problem col-sm-8">
                        暂无数据0
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <div class="problem col-sm-8">
                        <h5 class="bigTitle" id="subCont1">什么是CEEC</h5>
                        <p>您好，很高兴受到你们的关注。CEEC（Central Eastern Euroupean
                            -16Countries）国际经贸生态系统是由CEEC基金会在全球范围内发起、运营的跨境电商平台，面向中东欧十六国优质产品、贸易商、监管机构、服务商、消费者，建立商家和用户消费大数据，为跨境电商行业提供信任、激励、零佣金的生态服务。CEEC生态系统主要由CEEC
                            Chain、CEEC商城、CEEC
                            Wallet三部分组成，致力于为大众提供一个安全、便捷、高效的去中心化跨境电商平台，通过打通数字货币与实体世界的连接，让每一个人随时随地便捷的使用你的数字资产进行跨境电商购物，推动中国-中东欧16+1相关国家贸易全球化的发展和商业进步。CEEC通过智能合约搭建了一套信用体系，极大的降低了系统成本，并把这些“成本”反馈给CEEC生态里的参与者，使得各类参与者（消费者、供应商、服务商、物流提供商等)都受益；其次，可以判断对方是否可靠，每一次评价都是通过智能合约创建，数据将记录在区块中保证真实不可篡改，并记录生态用户和服务商的信用信息。CEEC
                            立足全球，在遵守各国现行法律和政策的前提下，对接支付机构，为用户提供合规安全的产品和服务。
                        </p>
                        <h5 id="subCont2">CEEC是由那个团队开发和运营的?</h5>
                        <p>针对区块链技术和行业应用局限性的各种问题，CEEC提出的改进方案如下：</p>
                        <p>1. 引入全新设计的主控合约，通过链下数据和链上数据的共同输入作为触发条件，完成合约的执行；</p>
                        <p>2. 打破目前跨境电子商务行业痛点，实现区块链技术的行业性；</p>
                        <p>3. 面向CEEC的灵活共识机制；</p>
                        <p>4. 增加对行业合规性的考虑，提供可选的身份识别等模块；</p>
                        <p>5. 通过CEEC Chain链下数据作为主控合约触发条件，实现与现实世界的交互。</p>
                        <h5 id="subCont4">CEEC的设计原则</h5>
                        <p>1、短信服务是按照短信发送成功量计费，目前的付费方式为资源包计费。</p>
                        <p>2、扣减方式：购买的资源包在有效期内，优先抵扣资源包内的短信量，多个资源包按有效期先结束的优先扣减，
                            如单次发送请求的短信数大于资源包剩余条数，则多于资源包条数的短信将按照0.05元/条的单价在账户余额中扣除，同时关闭短信功能，续费后将自动开启短信功能。
                        </p>
                        <p>3、短信账单为月账单的形式，统计出当月实际短信消耗条数，发送失败的条数以短信条数返还到用户短信资源包中， 返还顺序为按扣款顺序逆序返还。</p>
                        <h5>CEEC使用什么挖矿算法?</h5>
                        <p>使用跟以太坊一样的挖矿算法，Ethash。</p>
                        <h5 id="subCont4">战略合作伙伴</h5>
                        <p>APACCCEEC（中国－中东欧国家农业合作促进联合会）</p>
                        <p>前海中东欧投资发展（深圳）有限公司</p>
                        <p>Ministry of Agriculture of the People’s Republic of China（中华人民共和国农业部）</p>
                        <p>Ministry of Agriculture Rural Development and Water Management of the republic of
                            Albania（阿尔巴尼亚共和国农业农村发展和水资源管理部）
                        </p>
                        <p>Foreign Trade and Economic Relations of Bosnia and Herzegovina（波斯尼亚和黑塞哥维那对外贸易和经济关系部）</p>
                        <p>Ministry of Agriculture and Food of the Republic of Bulgaria（保加利亚共和国农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Croatia（克罗地亚共和国农业部）</p>
                        <p>Ministry of Agriculture of the Czech Republic（捷克共和国农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Estonia（爱沙尼亚共和国农业部）</p>
                        <p>Ministry of Agriculture of Hungary（匈牙利农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Latvia（拉脱维亚共和国农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Lithuania（立陶宛共和国农业部）</p>
                        <p>Ministry of Agriculture,Forestry and Water Economy of the Republic of
                            Macedonia（马其顿共和国农业、林业和水资源部）
                        </p>
                        <p>Ministry of Agriculture and Rural Development of Montenegro（黑山农业和农村发展部）</p>
                        <p>Ministry of Agriculture and Rural Development of the Republic of Poland（波兰共和国农业和农村发展部）</p>
                        <p>Ministry of Agriculture and Rural Development of Romania（罗马尼亚农业和农村发展部）</p>
                        <p>Ministry of Agriculture and Environmental Protection of the Republic of
                            Serbia（塞尔维亚共和国农业和环境部）
                        </p>
                        <p>Ministry of Agriculture and Rural Development of the Slovak Republic（斯洛伐克共和国农业和农村发展部）</p>
                        <p>Ministry of Agriculture，Forestry and Food of the Republic of Slovenia（斯洛文尼亚共和国农业、林业和粮食部）</p>
                    </div>
                    <div class="col-sm-4 floatNav">
                        <a class="navTitle" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                            什么是CEEC？ <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <span class="cur-tag"></span>
                        <div class="collapse in" id="collapseExample">
                            <ul class="collapseWell">
                                <li class="active"><a href="#subCont1">团队开发和运营</a></li>
                                <li><a href="#subCont2">购买流程</a></li>
                                <li><a href="#subCont3">设计原则</a></li>
                                <li><a href="#subCont4">挖矿算法</a></li>
                                <li><a href="#">战略合作伙伴</a></li>
                                <li><a href="#">短信计费模式</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <div class="problem col-sm-8">
                        暂无数据
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 text-right footerLeft">
                    <p>
                        <img src="/images/facebook.png" alt="">
                        <img src="/images/m.png" alt="">
                        <img src="/images/bird.png" alt="">
                        <img src="/images/youtube.png" alt="">
                        <img src="/images/micro-blog.png" alt="">
                        <img src="/images/bitebi.png" alt="">
                    </p>
                    <p>Copyright 2018 EtherZero ALL Right Reserved</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 footerRight">
                    <div class="contact">
                        <img src="/images/wechat.jpg" alt="">
                        <p>微信群</p>
                    </div>
                    <div class="contact">
                        <img src="/images/qq.jpg" alt="">
                        <p>QQ群</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.suffix').hover(function () {
            $('.suf-list').show();
        }, function () {
            $('.suf-list').hide();
        });

        $(".navTitle").on("click", function () {
            var status = $(".collapse").hasClass("in");
            if (status == false) {
                $(".cur-tag").show();
                $(this).find("i").addClass("glyphicon-menu-up");
                $(this).find("i").removeClass("glyphicon-menu-down");
            } else {
                $(".cur-tag").hide();
                $(this).find("i").removeClass("glyphicon-menu-up");
                $(this).find("i").addClass("glyphicon-menu-down");
            }
        })
    </script>
</body>

</html>
