<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Common problem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- 导航 -->
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/en">
                        <img src="/images/logo.jpg" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/en/#module1.html">About</a>
                        </li>
                        <li>
                            <a href="/en/#module2">Product</a>
                        </li>
                        <li>
                            <a href="/en/#module4">Circuit</a>
                        </li>
                        <li>
                            <a href="/en/#module5">Wallet</a>
                        </li>
                        <li>
                            <a href="/en/#module6">Trading</a>
                        </li>
                        <li>
                            <a href="#">Browser</a>
                        </li>
                        <li class="active">
                            <a href="/problem/en.html">Problem</a>
                        </li>
                        <li>
                            <a href="/en/#module7">News</a>
                        </li>
                        <li>
                            <a href="/en/#module8">Contact</a>
                        </li>
                        <li>
                            <a href="/en/#module3">Download</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="edition">
            <ins class="suffix">
                <div class="showText">
                    <img src="/images/chinese.svg" alt="">
                    <span>English</span>
                </div>
                <div class="suf-list" style="display: none;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/problem">
                                <img src="/images/chinese.svg" alt="">
                                <span>Chinese</span>
                            </a>
                        </li>
                        <li>
                            <a href="/problem/en">
                                <img src="/images/chinese.svg" alt="">
                                <span>English</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </ins>
        </div>
    </div>

    <!-- banner -->
    <div class="banner">
        <span>Common problem</span>
    </div>

    <section class="mainContent">
        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">projects</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">problem</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">download</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane " id="home">
                    <div class="problem col-sm-8">
                        No data 0
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <div class="problem col-sm-8">
                        <h4>What is CEEC</h4>
                        <p>Hello, I am very glad to receive your attention.CEEC（Central Eastern Euroupean
                            -16Countries）The International
                            Economic and Trade Ecosystem is a cross-border e-commerce platform launched and operated by
                            CEEC
                            Foundation worldwide. It is aimed at high-quality products, traders, regulators, service
                            providers
                            and consumers in 16 countries of Central and Eastern Europe. It establishes large data of
                            merchants
                            and users'consumption and provides trust, incentive and zero Commission ecological services
                            for
                            cross-border e-commerce industry. . The CEEC ecosystem is mainly composed of CEEC Chain,
                            CEEC
                            Mall and CEEC Wallet are composed of three parts. They are dedicated to providing a safe,
                            convenient
                            and efficient cross-border e-commerce platform for the public. By connecting digital money
                            with
                            the real world, everyone can use your digital assets to make cross-border e-commerce
                            shopping
                            conveniently anytime, anywhere and promote China-Middle East. European 16+1 related
                            countries'
                            development of trade globalization and business progress. CEEC builds a credit system
                            through
                            intelligent contracts, which greatly reduces the system costs and feeds these "costs" back
                            to
                            the participants in the CEEC ecology, benefiting all kinds of participants (consumers,
                            suppliers,
                            service providers, logistics providers, etc.); secondly, it can judge whether the other
                            party
                            is reliable, and every evaluation is made. Created through smart contracts, the data will
                            be
                            recorded in blocks to ensure authenticity and unauthorized, and the credit information of
                            ecological
                            users and service providers will be recorded. CEEC Based on the global, in compliance with
                            the
                            existing laws and policies of various countries, docking payment agencies to provide users
                            with
                            compliant and safe products and services.
                        </p>
                        <h5>CEEC was developed and operated by that team?</h5>
                        <p>Aiming at the problems of block chain technology and the limitations of the application of
                            the industry, the improvements proposed by CEEC are as follows:</p>
                        <p>1. A new master control contract is introduced, and the execution of the contract is
                            completed by the joint input of the data under the chain and the data on the chain.</p>
                        <p>2. breaking the pain point of cross-border e-commerce industry and realizing the industrial
                            nature of block chain technology.</p>
                        <p>3. CEEC oriented flexible consensus mechanism;</p>
                        <p>4. Increase the consideration of industry compliance and provide optional identification
                            module.</p>
                        <p>5. The data of CEEC Chain chain are used as triggering conditions of main control contract
                            to realize interaction with the real world.</p>
                        <h5>The design principles of CEEC</h5>
                        <p>1、Short message service is delivered according to SMS, and the current payment method is
                            resource package accounting.</p>
                        <p>2、Deduction method: The amount of short messages in the purchased resource packages will be
                            deducted prior to the amount of short messages in the resource packages within the validity
                            period. If the number of short messages sent by a single request is greater than the number
                            of remaining items in the resource packages, the short messages with more than the number
                            of resource packages will be deducted from the account balance according to the unit price
                            of 0.05 yuan/item. At the same time, the SMS function will be closed, and the SMS will
                            automatically be activated after renewals.
                        </p>
                        <p>3、SMS bills are in the form of monthly bills. The actual number of SMS consumed in that
                            month is counted. The number of failed SMS messages is returned to the SMS resource
                            packages of the users. The order of return is in reverse order of deduction.</p>
                        <h5>What mining algorithm does CEEC use?</h5>
                        <p>Use the same mining algorithm as Ethash.</p>
                        <h5>Strategic partners</h5>
                        <p>APACCCEEC（China Central and Eastern European Union for agricultural cooperation and
                            promotion）</p>
                        <p>Qianhai central and Eastern Europe Investment Development (Shenzhen) Co., Ltd.</p>
                        <p>Ministry of Agriculture of the People’s Republic of China（中华人民共和国农业部）</p>
                        <p>Ministry of Agriculture Rural Development and Water Management of the republic of
                            Albania（阿尔巴尼亚共和国农业农村发展和水资源管理部）
                        </p>
                        <p>Foreign Trade and Economic Relations of Bosnia and Herzegovina（波斯尼亚和黑塞哥维那对外贸易和经济关系部）</p>
                        <p>Ministry of Agriculture and Food of the Republic of Bulgaria（保加利亚共和国农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Croatia（克罗地亚共和国农业部）</p>
                        <p>Ministry of Agriculture of the Czech Republic（捷克共和国农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Estonia（爱沙尼亚共和国农业部）</p>
                        <p>Ministry of Agriculture of Hungary（匈牙利农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Latvia（拉脱维亚共和国农业部）</p>
                        <p>Ministry of Agriculture of the Republic of Lithuania（立陶宛共和国农业部）</p>
                        <p>Ministry of Agriculture,Forestry and Water Economy of the Republic of
                            Macedonia（马其顿共和国农业、林业和水资源部）
                        </p>
                        <p>Ministry of Agriculture and Rural Development of Montenegro（黑山农业和农村发展部）</p>
                        <p>Ministry of Agriculture and Rural Development of the Republic of Poland（波兰共和国农业和农村发展部）</p>
                        <p>Ministry of Agriculture and Rural Development of Romania（罗马尼亚农业和农村发展部）</p>
                        <p>Ministry of Agriculture and Environmental Protection of the Republic of
                            Serbia（塞尔维亚共和国农业和环境部）
                        </p>
                        <p>Ministry of Agriculture and Rural Development of the Slovak Republic（斯洛伐克共和国农业和农村发展部）</p>
                        <p>Ministry of Agriculture，Forestry and Food of the Republic of Slovenia（斯洛文尼亚共和国农业、林业和粮食部）</p>
                    </div>
                    <div class="col-sm-4 floatNav">
                        <a class="navTitle" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                            What is CEEC?？ <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <span class="cur-tag"></span>
                        <div class="collapse in" id="collapseExample">
                            <ul class="collapseWell">
                                <li class="active"><a href="#subCont1">Team development and operation</a></li>
                                <li><a href="#subCont2">Purchase process</a></li>
                                <li><a href="#subCont3">Design principles</a></li>
                                <li><a href="#subCont4">Mining algorithm</a></li>
                                <li><a href="#">Strategic partners</a></li>
                                <li><a href="#">SMS charging mode</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <div class="problem col-sm-8">
                        No data
                    </div>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-right footerLeft">
                    <p>
                        <img src="/images/facebook.png" alt="">
                        <img src="/images/m.png" alt="">
                        <img src="/images/bird.png" alt="">
                        <img src="/images/youtube.png" alt="">
                        <img src="/images/micro-blog.png" alt="">
                        <img src="/images/bitebi.png" alt="">
                    </p>
                    <p>Copyright 2018 EtherZero ALL Right Reserved</p>
                </div>
                <div class="col-md-6 col-sm-6 footerRight">
                    <div class="contact">
                        <img src="/images/img1.jpg" alt="">
                        <p>WeChat group</p>
                    </div>
                    <div class="contact">
                        <img src="/images/img1.jpg" alt="">
                        <p>QQ group</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.suffix').hover(function () {
            $('.suf-list').show();
        }, function () {
            $('.suf-list').hide();
        });

        $(".navTitle").on("click", function () {
            var status = $(".collapse").hasClass("in");
            if (status == false) {
                $(".cur-tag").show();
                $(this).find("i").addClass("glyphicon-menu-up");
                $(this).find("i").removeClass("glyphicon-menu-down");
            } else {
                $(".cur-tag").hide();
                $(this).find("i").removeClass("glyphicon-menu-up");
                $(this).find("i").addClass("glyphicon-menu-down");
            }
        })
    </script>
</body>

</html>
