/**
 * @author by ZhangWeiRong
 * @date 2018/09/26
 * 
 */

/* 
  * public
  */
body,
html {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* a{
    color: inherit
} */
a:hover {
    text-decoration: none;
}

li {
    margin: 0;
    vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

/* language tab start */
.edition {
    position: absolute;
    right: 50px;
    top: 17px;
    z-index: 2;
}

.edition img {
    height: 14px;
    margin-right: 5px;
}

.edition .suffix {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    min-width: 70px;
    height: 40px;
    width: 105px;
    text-align: center;
    line-height: 40px;
}

.edition .suf-list {
    position: absolute;
    background: #fff;
    top: 38px;
    left: 0;
    width: 100%;
    _width: auto;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 1px 1px #ccc;
    text-align: left;
}

.edition .suf-list li {
    padding: 0 10px;
    color: #666;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
}

.edition .suf-list li:hover {
    background: #f2f9ff;
    color: #fff;
}

/* language tab end */

.navbar-brand {
    height: 80px;
}

.navbar-default {
    background-color: inherit;
    border-color: inherit;
}

.navbar-default .navbar-toggle {
    border-color: #182b89;
}

.navbar {
    margin-bottom: 0;
    border: inherit;
}

.navbar-nav {
    float: right;
    margin-right: -2%;
}

.navbar-nav>li {
    /* width: 80px; */
    padding: 0 10px;
    text-align: center;
}

.navbar-nav>li:hover {
    background: #f2f9ff;
    border-bottom: 3px solid #182b89;
    font-weight: bold;
    color: #182b89;
}

.navbar-nav>li.active {
    border-bottom: 3px solid #182b89;
    color: #182b89;
    font-weight: bold;
    color: #182b89;
}

.navbar-nav>li>a {
    line-height: 57px;
}

.navbar-default .navbar-nav>.active>a {
    color: #182b89;
    background-color: inherit;
}

.navbar-default .navbar-nav>.active>a:hover {
    background: #f2f9ff;
}

.nav>li>a {
    padding: 10px 5px;
    color: #7d7d7d;
    border: none;
}

/* banner */
.carousel-indicators li {
    width: 40px;
    height: 2px;
    border-radius: inherit;
    margin: 0;
    opacity: 0.6
}

.carousel-indicators .active {
    width: 40px;
    height: 2px;
    border-radius: inherit;
    opacity: 1
}


/*************** model1  ********************/
.module1 {
    background: #f7fffe;
    background: url('../images/bg1.jpg') no-repeat;
    background-size: 100% 100%;
    /* height: 430px; */
}

.module1 .module1Left {
    /* line-height: 430px; */
}

@media (max-width: 990px) {
    .module1 .module1Left {
        margin-top: 20px;
    }
}

.module1 .module1Left img {
    width: 90%;
}

.module1 .module1Left video {
    width: 90%;
    margin-top: 80px;
}

.module1 .module1Right {
    margin: 9% 0;
}

.module1 .module1Right-En {
    margin: 6% 0;
}

.module1 .module1Right h2 {
    font-size: 30px;
    color: #000000;
    line-height: 56px;
}

.module1 .module1Right p {
    color: #4A4A4A;
    line-height: 30px;
}

/*************** model2  ********************/
.module2 {
    padding: 50px 0;
    text-align: center;
}

.module2 .subTitle {
    color: #7e7e7e;
    font-size: 16px;
}

.module2 .row {
    margin-top: 30px;
}

.module2 .row .imgCont {
    height: 80px;
    line-height: 80px;
}

.module2 .row .imgTitle {
    color: #7e7e7e;
    font-size: 16px;
}

.module2 .row .imgTitle {
    color: #000;
    text-decoration: none;
}

.module2 .row .imgTitle:hover {
    color: #182b89;
    text-decoration: none;
}

/*************** model3  ********************/
.module3 {
    background: url('../images/bg2.jpg') no-repeat;
    background-size: 100% 100%;
    height: 180px;
    color: #fff;
    text-align: center;
    position: relative;
}

.module3 .container {
    position: absolute;
    top: 50%;
    margin-top: -57px;
    right: 0;
    left: 0;
}

.module3 .CEETBtn {
    margin-top: 35px;
}

.module3 .CEETBtn a {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
}

/*************** model4  ********************/
.module4 {
    background: #f2f9ff;
    text-align: center;
    position: relative;
    /* padding: 200px 0 470px 0; */
    height: auto;
}

.module4 .bgCont {
    width: 70%;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
}


.module4 .title {
    margin-top: 55px;
}

.module4 .row {
    margin: 15px 0;
}

.module4 .container .arrow1 {
    background: url('../images/Fill.png') no-repeat;
    background-position: 9px;
    height: 159px;
    width: 4%;
}

.module4 .container .arrow2 {
    background: url('../images/Fill.png') no-repeat;
    background-position: -130px;
    height: 159px;
    width: 5%;
    margin-left: 14px;
}

.module4 .container .arrow3 {
    background: url('../images/Fill.png') no-repeat;
    background-position: -46px;
    height: 159px;
    width: 3%;
    margin-left: 9px;
}

.module4 .container .arrow4 {
    background: url('../images/Fill.png') no-repeat;
    background-position: -92px;
    height: 159px;
    width: 4%;
    margin-left: 9px;
}

.module4 .container .rowLeft {
    margin-left: 5%;
}

@media (max-width: 990px) {

    .module4 .container .arrow1,
    .module4 .container .arrow2 {
        width: 7%;
    }

    .module4 .container .arrow3,
    .module4 .container .arrow4 {
        width: 6%;
    }

    .module4 .container .rowLeft {
        margin-left: 3%;
    }
}

/*************** model5  ********************/
.module5 {
    background: url('../images/bg3.jpg') no-repeat;
    background-size: 100%;
}

.module5 .iphone {
    width: 36%;
    margin-top: 7%;
    margin-right: 8%;
}

.module5 .rowRelative {
    position: relative;
}

.module5 .walletText {
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -120px;
    right: 0;
}

.module5 .walletText p.colorWhite {
    color: #fff !important;
    margin-bottom: 20px;

}

.module5 .walletText p {
    color: #28cefe;
    margin-bottom: 5px;
    font-size: 16px;
}

.module5 .walletText .choiseBtn {
    display: inline-flex;
    margin-top: 30px;
}

.module5 .walletText .choiseBtn .active {
    background-image: linear-gradient(81deg, #46b4ff 12%, #08ebfe 88%);
}

.module5 .walletText .choiseBtn span {
    width: 150px;
    padding: 10px 0;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.module5 .walletText .choiseBtn span:hover {
    background-image: linear-gradient(81deg, #46b4ff 12%, #08ebfe 88%);
}

.module5 .walletText .choiseBtn .android {
    border: 1px solid #ccc;
    border-radius: 20px;
}

.module5 .walletText .choiseBtn .ios {
    border: 1px solid #ccc;
    margin-right: 30px;
}

.module5 .walletText .choiseBtn a {
    color: #fff;
}

/*************** model6  ********************/
.module6 {
    padding: 7% 0 2% 0;
}

.module6 .textCont {
    /* margin-right: 13%; */
    margin-right: 80px;
}

.module6 .textCont h2 {
    line-height: 56px;
    margin-top: 0;
}

.module6 .textCont p {
    margin-bottom: 0;
    font-size: 18px;
    color: #4A4A4A;
    line-height: 30px;
}

.module6 .tipsBtn {
    float: right;
    margin-right: 45px;
    width: 200px;
    height: 150px;
    background: url(../images/tipsbtn.png) no-repeat;
    background-size: 100%;
    background-position: right
}


.module6 .tipsArrow {
    background: #fff;
    color: #156ae7;
    padding: 7px 8px;
    border-radius: 50%;
}

.module6 .logoImgCont {
    padding-left: 0;
}

.module6 .logoImgCont .row {
    margin-bottom: 20px;
}

.module6 .col-md-5 {
    width: 25.666667%;
    padding-right: 0;
}

.module6 img {
    width: 100%;
}

/*************** model7  ********************/
.module7 {
    position: relative;
    background: url(../images/bg7.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

.module7 h2 {
    line-height: 56px;
}

.module7 .subTitle {
    font-size: 18px;
    color: #4A4A4A;
}

.module7 .bgCont {
    position: absolute;
    top: 0;
    width: 40%;
}

.module7 .subTitle {
    margin-bottom: 40px;
}

.module7 .rowRight {
    margin: 80px 0;
}

.module7 ul {
    padding-left: 15px;
    margin: 0;
}

.module7 ul li {
    margin-bottom: 15px;
    font-size: 15px;
    color: #4A4A4A;
}

.module7 ul li a {
    color: #000;
}

.module7 ul li a:hover {
    color: #156ae7;
}

/* 常见问题 */
.banner {
    background: url('../images/bg3.jpg') no-repeat;
    background-size: 100%;
    padding: 7%;
    text-align: center;
}

.banner span {
    color: #fff;
    font-size: 35px;
}

.nav-tabs>li {
    width: 115px;
    text-align: center;
}

.nav-tabs>li a {
    padding: 15px 5px;
}

.nav-tabs>li:hover {
    color: #008dff;
    background: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 3px solid #008dff;
}

.nav-tabs>li.active {
    width: 115px;
    border-bottom: none;
    color: inherit;
}

.nav-tabs>li.active a {
    color: #008dff;
    border-bottom: 3px solid #008dff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    width: 115px;
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:focus,
.nav-tabs>li.active a:hover {
    color: #008dff;
    border-bottom: 3px solid #008dff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.nav-tabs>li:hover>a {
    background: none !important;
    border: 0;
    color: #008dff;
}


/* problem */
.problem {
    margin-bottom: 60px;
}

.problem h4 {
    font-weight: bold;
    line-height: 28px;
    margin: 20px 0;
}

.problem p {
    line-height: 30px;
}

.problem h5 {
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
}

.problem .bigTitle {
    font-size: 20px;
}

.floatNav {
    background: url(../images/group.png) no-repeat 0 100%;
    padding-left: 3%;
    margin-top: 2%;
    height: 404px;
    position: relative;
    /* position: fixed; */
    /* right: 0; */
    /* top: 420px; */
}

.floatNav .cur-tag {
    position: absolute;
    left: 8px;
    top: 56px;
    z-index: 5;
    margin-top: -6px;
    display: block;
    width: 19px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url('../images/directory-nav.png') no-repeat -271px -37px;
    -webkit-transition: top .3s ease 0s;
    transition: top .3s ease 0s;
}

.floatNav .navTitle,
.floatNav .navTitle:hover {
    text-decoration: none;
    color: #008dff;
    font-size: 18px;
    font-weight: bold;
}

.floatNav .collapseWell {
    padding-left: 15px;
    margin-top: 15px;
    list-style: none;
}

.floatNav .collapseWell li {
    color: #999;
    padding: 6px 0;
}

.floatNav .collapseWell li:hover {
    color: #008dff;
}

.floatNav .collapseWell li.active {
    color: #008dff;
}

.floatNav .collapseWell a {
    color: inherit
}

@media(max-width:1400px) {
    .navbar-nav {
        float: left;
        margin-left: 70px;
        margin-right: -15px;
    }

    .nav>li {
        padding: 0px 10px;
    }

    .nav>li>a {
        padding: 10px 3px;
    }
}

@media(max-width:1200px) {
    .navbar-nav {
        margin-left: 20px;
        margin-right: -15px;
    }

    .nav>li {
        padding: 0px 6px;
    }

    .edition {
        right: 10px;
    }

    .module1 .module1Left video {
        margin-top: 100px;
    }

    .module6 .col-md-5 {
        width: 30.666667%;
        padding-right: 0;
    }

    .module6 .textCont {
        margin-right: 50px;
    }

    .module6 .tipsBtn {
        margin-right: 20px;
        width: 180px;
        height: 100px;
    }

    .module6 .textCont p {
        font-size: 16px;
        line-height: 30px;
    }
}

@media(max-width:1100px) {
    .edition {
        right: 0;
    }

    .container {
        width: 100%;
    }

    .nav>li {
        font-size: 12px;
    }
}

@media(max-width:992px) {
    .navbar-nav {
        margin-left: 0;
        margin-right: -15px;
    }

    .edition {
        right: 8px;
        top: 17px;
    }

    .module1 .module1Right p {
        font-size: 16px;
        line-height: 30px;
    }
    .module1 .module1Left-En,.module1 .module1Right-En {
        text-align: center;
    }
    .module6 .col-md-5 {
        width: 37.666667%;
        padding-right: 0;
    }

    .module6 .textCont {
        margin-right: 35px;
    }

    .module6 .tipsBtn {
        margin-right: 10px;
        width: 150px;
        height: 80px;
    }
}

@media(max-width:980px) {}

@media(max-width:767px) {
    .edition {
        display: none;
    }
}

@media(max-width:768px) {
    .module6 .col-md-5 {
        width: 48.666667%;
        padding-right: 0;
    }

    .navbar-toggle {
        margin-top: 23px;
    }

    .module1 .module1Left,.module1 .module1Left-En {
        text-align: center;
    }

    .module1 .module1Left video {
        width: 85%;
        margin-top: 70px;
    }

    .module1 .module1Right {
        text-align: center;
    }
    .module4 .col-xs-12 {
        text-align: center;
    }

    .module4 .arrow1,
    .module4 .arrow2,
    .module4 .arrow3,
    .module4 .arrow4 {
        display: none;
    }
    .module5 .walletText p {
        font-size: 14px;
    }

    .module5 .walletText .choiseBtn {
        margin-top: 10px;
    }

    .module5 .walletText .choiseBtn span {
        width: 125px;
        padding: 7px 0;
    }
}

@media(max-width:414px) {
    .module4 .col-xs-12 {
        text-align: center;
    }

    .module4 .arrow1,
    .module4 .arrow2,
    .module4 .arrow3,
    .module4 .arrow4 {
        display: none;
    }

    .module5 {
        height: 150px;
    }

    .module5 .col-xs-6 {
        text-align: center !important;
    }

    .module5 .col-xs-12 {
        text-align: center;
        padding-left: 140px;
    }

    .module5 .walletText {
        top: 110%;
    }

    .module5 .walletText h2 {
        font-size: 12px;
        margin: 0;
    }

    .module5 .walletText p {
        font-size: 12px;
        margin-bottom: 2px !important;
    }

    .module5 .walletText .choiseBtn span {
        font-size: 12px;
        width: 108px;
        padding: 6px 0;
        font-size: 12px;
    }

    .module6 .rowText {
        text-align: center !important;
    }

    footer .row {
        margin: 0 !important
    }

    footer .col-xs-12 {
        margin-top: 10px;
    }

    footer .footerLeft {
        text-align: center !important;
    }
}

/* footer start */
footer {
    background-image: linear-gradient(81deg, #0F249A 12%, #0E6DCD 88%);
    height: 220px;
    color: #fff;
}

footer .row {
    margin: 32px 0;
}

footer .contact {
    float: left;
}

.footerLeft {
    margin-top: 50px;
    /* margin-right: 5%; */
}

.footerLeft img {
    margin-left: 2%;
}

.footerLeft p {
    margin-bottom: 15px;
    font-size: 12px;
}

.footerRight {
    margin-top: 30px;
    padding-left: 100px;
}

.footerRight .contact {
    margin-right: 20px;
    text-align: center;
}

.footerRight img {
    width: 85px;
    height: 85px;
    margin-bottom: 10px;
}

/* footer end */


/*float nav*/

/* .directory-nav {
    position: fixed;
    right: 154px;
    top: 460px;
    padding: 12px 0 20px 32px;
    display: block;
}

.directory-nav li {
    height: 34px;
    line-height: 34px;
    position: relative;
    list-style: none;
}

.directory-nav .l2 {
    text-indent: 0.6em;
}

.directory-nav .l1 a {
    font-size: 16px;
}

.directory-nav .l2 a {
    font-size: 14px;
}

.directory-nav,
.directory-nav a {
    color: #666;
}

.directory-nav .cur a {
    color: blue;
}

.directory-nav .line {
    position: absolute;
    left: 4px;
    top: 5px;
    bottom: 5px;
    z-index: 1;
    width: 2px;
    background: #ddd;
}

.directory-nav .c-top,
.directory-nav .c-bottom {
    position: absolute;
    left: 0;
    z-index: 2;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url('../images/directory-nav.png') no-repeat 0 -69px;
}

.directory-nav .c-dot {
    position: absolute;
    left: -32px;
    top: 50%;
    z-index: 2;
    margin-top: -5px;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(directory-nav.png) no-repeat -275px 0;
}

.directory-nav .c-top {
    top: 0
}

.directory-nav .c-bottom {
    bottom: 0
}

.directory-nav .cur-tag {
    position: absolute;
    left: -1px;
    top: 30px;
    z-index: 5;
    margin-top: -6px;
    display: block;
    width: 19px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url('../images/directory-nav.png') no-repeat -271px -37px;
    -webkit-transition: top .3s ease 0s;
    transition: top .3s ease 0s;
} */